<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotellAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HotellAdmin.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1474, 914</value>
            </setting>
            <setting name="ColorBlind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopupSize" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="PopupLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
        </HotellAdmin.Properties.Settings>
    </userSettings>
</configuration>